<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
  <title>Schneiflow</title>

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

  {% block morehead %}
    
  {% endblock morehead %}
 
</head>

<body>

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">
            <img class="img-fluid" src="http://www.schneider-electric.com/ww/en/assets-re1/css/img/se-logo-white.svg" alt="">
            
        </div>


      <div class="list-group list-group-flush">
        <a href="/dashboard" class="list-group-item list-group-item-action sb-button">Dashboard</a>
        <a href="/submit" class="list-group-item list-group-item-action sb-button">Submit</a>
        <a href="#" class="list-group-item list-group-item-action sb-button">Overview(?)</a>
        
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav class="container-fluid navbar justify-content-end navbar-expand-lg navbar-light bg-light border-bottom">
        
        {% block user %}
          
        {% endblock%}

        
      </nav>

      <div class="container-fluid">
       
        {% block contenido %} {% endblock %}
                
       </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Bootstrap core JavaScript -->
  
    <script src="{{ url_for('static', filename='bootstrap.bundle.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery-3.4.1.min.js') }}"></script>
    
  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>

  {% block customScript %}
    
  {% endblock customScript %}


</body>

</html>
